* {
 margin: 0;
}




header {
    background-color: black;
}

.header {
    background-color: #7e0000;
    z-index: 999
}


.headerIMG {
    position: relative;
    bottom: 110px;
    background-color: black;
}


.starttext {
    color: #7e0000;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
    z-index: 999
}

.menu {
    display: flex;
    height: 60px;
    width: 600px;
    float: right;
    margin-right: 60px;
    margin-top: 5px;
    z-index: 999
}

.element2 {
    display: block;

}



.menu-elements:hover{
    color: #d00000;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    text-decoration: none;
    font-size: 25px;
    z-index: 999
}


.menu-elements{
    background: transparent;
	border: none;
    color: #7e0000;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-style: normal;
    text-decoration: none;
    z-index: 999
}

.functions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #7e0000;

}

h3 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #2b0000;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    margin-bottom: 20px;
}

.funcs {
    height: 135px;
}

h4 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #2b0000;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.icons {
    width: 75px;
    height: 75px;
    margin-top: 10px;
    border: thick double rgb(255, 208, 0);
    border-radius: 25px;
}





.cos-sites {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 400px;
}

.icons-text {
    text-align: center;
    
}

footer{
    font-family: 'Montserrat', sans-serif;
    
}
.infoyt {
    text-decoration: none;
    color: #000000;
}

.infoyt:hover {
    text-decoration: none;
    color: #d00000;


}



@media(max-width: 500px) {
        
    * {
        background-color: #7e0000;
    }

    .starttext {
        margin-bottom: 0px;
        background-color: transparent;
        color:black;

    }

    .element2 {
        display: block;
    
    }


    .TwoText {
        width: 370px;
        font-size: small;
    }

    .menu {
        background-color: black;
        margin-top: 0px;

    }

    .menu-elements {
        font-size: medium;
    }

    .menu-elements:hover {
        font-size: medium;
    }


  .header {
    z-index: 999;
  }

  .headerIMG
   {
    width: 100%; 
    margin-top: -20px;
  }
  .funcsIMG {
        width: 50vh;
    }

    .menu {
        width: 100%; 
        margin: 0; 
        float: none
      }s
    
    .menu-elements {
        font-size: 20px; 
        font-size: 35px
      }
    
      .functions {
        flex-direction: column; 
        background-color: #7e0000;
      }
    
      .funcs {
        height: 55px;
    }

    h4 {
        background-color: transparent;
        margin-top: 50px;
    }

    
}