


h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    text-align: left;
    width: 50vh;
    margin: 0 auto;
}

body {
    background: linear-gradient(black, #7e0000);
    color: #d00000
}

.hot-bar {
    height: 60px;
    width: 200px;
    align-items: center;
    display: flex;
    justify-content: center;
}

button {
    background: transparent;
	border: solid;
    border-radius: 10px;
    border-color: #7e0000;
    border-width: 2px;
    color: #7e0000;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-style: normal;
    text-decoration: none;
    width: 60px;
    height: 60px;
}


button:hover {
    background: transparent;
	border: solid;
    border-radius: 10px;
    border-color: #d00000;
    border-width: 2px;
    color: #d00000;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-style: normal;
    text-decoration: none;
    width: 60px;
    height: 60px;
}



@media(max-width: 500px) {
    body {
        height: 110vh;
    }

    button {
        margin-left: -130px;
    }
}   


